/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Dec, 2017, 11:32:25 AM
    Author     : KU
*/
.mt-20{margin-top: 20px !important}
.carousel .item{text-align:center;}
label.error,label.error p  {
    color: red;
    margin: 5px 0px 0px 5px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-style: "Helvetica Neue",Helvetica,Arial,sans-serif}
.mpopup-header{background: #975979;color: #fff;border: 0;font-family: 'Rubik';font-size: 18px;text-transform: uppercase;line-height: 20px;padding: 15px;border-radius: 0;text-align: center;margin: 0 0 25px;}
.mpopup-body{padding: 0 15px;}
.upload-wrap span {padding: 0px;overflow: hidden;}
.text-danger{color:red}

.services-ctgr ul li a.active {text-decoration: none;color: #975779;}
.fa-facebook:hover{text-decoration: none;color:#3b5998;}
.fa-twitter:hover{text-decoration: none;color:#0084b4;}
.fa-google-plus:hover{text-decoration: none;color:#dd4b39;}
.fa-pinterest:hover{text-decoration: none;color:#c8232c;}

.srvs-dtl-l iframe, .srvs-dtl-l .custom_map {width: 100%;height: 450px;}
/*15-12-2017*/
.p-10 {padding: 10px!important;}
.add_timeline_btn,.remove_timeline_btn,.remove_org_timeline_btn{cursor: pointer;}
.add_timeline_btn:hover,.remove_timeline_btn:hover,.remove_org_timeline_btn:hover{text-decoration: none;}
.mb-20 {margin-bottom: 20px!important;}
/*18-12-2017 */
.custom_error_container div{text-align: center;}
/*19-12-2017 */
.blog-box span a img {border-radius: 4px;max-width: 100%;height: 214px;margin: 0 auto;display: block;}
.paggination-wrap ul li.active a{background: #975979;color: #fff;text-decoration: none;pointer-events:none;}

/*28-12-2017  Twitter Searchobx- Set width to 100%*/
.twitter-typeahead{width:100%}
.menu-text a {color: #666}

/*1-1-2018 search profile page change*/
.srh-list-img img {height: 100%;display: block;margin: 0 auto;}
.srh-list-img {background: #cccccc52;}
/*2-1-2018 Affiliation button*/
.affiliation-btn {background: #975979;border-radius: 4px;padding: 10px;line-height: 20px;border: 2px solid #975979;font-size: 16px;color: #fff;font-weight: 500;font-family: 'Rubik';width: 210px;text-transform: uppercase;}
.affiliation-btn:hover, .affiliation-btn:focus{color:#fff;}
.edit-profile-btn{border: 2px solid #57585a;background: #57585a;}
.publish-profile-btn{border: 2px solid #a94442;background: #a94442;}
.edit-profile-btn:hover {background: transparent;color: #57585a;text-decoration: none;}
.publish-profile-btn:hover {background: transparent;color: #a94442;text-decoration: none;}
/*5-1-2018 Publish Profile button pop ups*/
.publish-share-modal .pup-btn {position: absolute;top: -28px;right: -34px;width: auto;}
.publish-share-modal .pup-btn button {width: 34px;height: 34px;background: #545454;color: #fff;border-radius: 80px;line-height: 34px;border: 0;vertical-align: top;text-align: center;}
.publish-share-modal .pup-btn i {vertical-align: top;position: relative;top: -2px;left: 1px;}
/*8-1-2018 popup buttons*/
.publish-share-modal .step-btm-btn{margin:0;padding: 20px 0 0 0;}
/*9-1-2018 Footer Address link*/
.ftr-contact p a {color: #c5c5c5;}
.blog-box {min-height: 360px;} /*To set height of the blog box same*/
/*10-1-2018 Share on Social Media Popup*/
#fbshare_popup .profile-share{float: none;}
/*11-1-2018 Dashobard profile share icon*/
.dashboard-share a{margin: 0;padding: 0;}
.dashboard-share.profile-share{padding: 0 2px;}
/*13-1-2018 Color change for online community*/
.helpful-l ul li:nth-child(2) p {color: #fff;}
.helpful-l ul li:nth-child(2) h3 a {color: #fff;}
/*15-1-2018 Center blog image*/
.blog-box span{text-align: center;}
/*17-1-2018 Span class*/
.comments-div-wrap h3 a{color: #333;}
.que_author{float: left;}
.comments-div-wrap .btn_continue a:hover {background: transparent !important; color: #ec4f4f;}
.no-data.text-left{text-align: left;}
.user-update.community-action-btn{text-align: right;}
.community-action-btn .delete{margin-right: 0px;}
/*23-1-2018 Home page's watermark images'*/
.helpful-l ul li:nth-child(2) svg {fill: rgba(255,255,255,.1);}
.records_info{float: left;padding: 10px;color: #975979;font-weight: bold;}
.data_head a {color: #975979}
/*25-1-2018 added cursor pointer to comment section*/
.spn_comment{cursor: pointer;}
/*1-2-18 set background image*/
.profile-head > span.profile-img > img {height: 330px;}
.bio-tips{color:#999;}
/*12-2-18 set line height normal*/
.home-caption .text_p {line-height: normal;}


/*13-2-18 set image rotation classes */

.rotate-90 {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.flip-and-rotate-90 {
    -moz-transform: rotate(90deg) scaleX(-1);
    -webkit-transform: rotate(90deg) scaleX(-1);
    -o-transform: rotate(90deg) scaleX(-1);
    transform: rotate(90deg) scaleX(-1);
}

.flip-and-rotate-180 {
    -moz-transform: rotate(180deg) scaleX(-1);
    -webkit-transform: rotate(180deg) scaleX(-1);
    -o-transform: rotate(180deg) scaleX(-1);
    transform: rotate(180deg) scaleX(-1);
}

.flip-and-rotate-270 {
    -moz-transform: rotate(270deg) scaleX(-1);
    -webkit-transform: rotate(270deg) scaleX(-1);
    -o-transform: rotate(270deg) scaleX(-1);
    transform: rotate(270deg) scaleX(-1);
}

/*15-2-18 post message and about us content*/
.cms-banner-img {display: inline-block;float: right;}
/*.post-comment .comment-btm {position: relative;padding-bottom: 15px;}
.post-comment .comment-btm p {position: absolute;right: 0;bottom: -10px;font-size: 12px;color: #888;}*/

/*16-2-18 set height of gallery div*/
#gallery-div{max-height:370px}

/*27-2-18 set design of label*/
.bio-p-text{margin: 0;padding: 0;font-size: 15px;color: #999;line-height: 24px;display: block;font-family: 'Roboto';}

.profile-box-body p{max-height: 16em; /* (4 * 1.5 = 6) */}
section.home-profiles h4 a{color: #a36c88}
.profile-share-icons a {line-height: 28px;margin: 0 0 0 5px;display: inline-block;vertical-align: top;}
.profile-share-icons a svg {width: 40px;height: 40px;vertical-align: middle;}
.done-share {border: 2px solid #8f63ca;background: #fff !important;color: #8f63ca;padding: 10px;text-align: center;border-radius: 4px;max-width: 152px;width: 100%;font-family: 'Rubik';font-size: 14px;font-weight: 500;}
.done-share:hover {background: #8f63ca!important;color: #fff !important;}
.done-share-later {border: 2px solid #57585a;background: #fff !important;color: #57585a;padding: 10px;text-align: center;border-radius: 4px;max-width: 152px;width: 100%;font-family: 'Rubik';font-size: 14px;font-weight: 500;}
.done-share-later:hover{background: #57585a!important;color: #fff !important;}
/* Show 8 lines on larger screens */
@media screen and (min-width: 640px) {
    .profile-box-body p {max-height: 20em;}
}
/*Commented on 6-3-18*/
/*.edit-r .input-wrap{margin-bottom:0px;}*/
