/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Dec, 2017, 11:32:25 AM
    Author     : KU
*/
.carousel .item{text-align:center;}
label.error,label.error p  {color: red;margin: 5px 0px 0px 5px;font-size: 14px;font-weight: normal;font-style: normal;font-style: "Helvetica Neue",Helvetica,Arial,sans-serif}
.mpopup-header{background: #975979;color: #fff;border: 0;font-family: 'Rubik';font-size: 18px;text-transform: uppercase;line-height: 20px;padding: 15px;border-radius: 0;text-align: center;margin: 0 0 25px;}
.mpopup-body{padding: 0 15px;}
.upload-wrap span {padding: 0px;}
.text-danger{color:red}

.services-ctgr ul li a.active {text-decoration: none;color: #975779;}
.fa-facebook:hover{text-decoration: none;color:#3b5998;}
.fa-twitter:hover{text-decoration: none;color:#0084b4;}
.fa-google-plus:hover{text-decoration: none;color:#dd4b39;}
.fa-pinterest:hover{text-decoration: none;color:#c8232c;}

.srvs-dtl-l iframe, .srvs-dtl-l .custom_map {width: 100%;height: 450px;}
/*15-12-2017*/
.p-10 {padding: 10px!important;}
.add_timeline_btn,.remove_timeline_btn,.remove_org_timeline_btn{cursor: pointer;}
.add_timeline_btn:hover,.remove_timeline_btn:hover,.remove_org_timeline_btn:hover{text-decoration: none;}
.mb-20 {margin-bottom: 20px!important;}
/*18-12-2017 */
.custom_error_container div{text-align: center;}
/*19-12-2017 */
.blog-box span a img {border-radius: 4px;max-width: 100%;height: 214px;margin: 0 auto;display: block;}
.paggination-wrap ul li.active a{background: #975979;color: #fff;text-decoration: none;pointer-events:none;}

/*28-12-2017  Twitter Searchobx- Set width to 100%*/
.twitter-typeahead{width:100%}
.menu-text a {color: #666}

/*1-1-2018 search profile page change*/
.srh-list-img img {height: 100%;display: block;margin: 0 auto;}
.srh-list-img {background: #cccccc52;}