@media(max-width:1139px){
.what-member .member-box {min-width:inherit;}
.memorialize ul li {width:50%;float: left;padding:15px;}
.memorialize ul li:nth-child(2n+2){float:right;}
.container {width:100%;}
.what-member {padding: 70px 15px;}
.ftr-sepretor {padding:0 20px;}
.helpful-resources:after{background:url(../images/helpful-img.jpg) no-repeat 0 0;content:'';position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1;opacity:.2;}
.helpful-resources{position:relative;background:none;padding:40px 0;}
a.helpful-btn{margin:20px auto 0;top:0;}
.what-member .item {padding:15px;}
.what-member .member-box {box-shadow: 0 0 20px 0 rgba(0,0,0,.1);}

}

@media(max-width:1024px){
.helpful-resources{text-align:center;}
.helpful-l {width: 100%;float: none;}
.helpful-l ul li {margin: 0 !important;float:left;width:50%;padding:15px;}
.helpful-l h2 {margin: 0 0 10px;}
.funeral-srh .srvs-form-div {width:48%;margin-bottom:20px; }
.funeral-srh .srvs-form-div:last-child {width:40%;margin-bottom:0;}


}

@media(min-width:992px) and (max-width:1024px){
.nav-menu.navbar ul.nav li a {padding:10px;margin:0;}
.step-02-ul li {width:25%;}
.funeral-l{width:64%;margin:0 0 25px;}
.funeral-r{width:34%;}
}

@media (min-width:992px) and (max-width:1199px){
.listing_data ul li {width: 50%;}
}

@media(min-width:768px) and (max-width:991px){
.navbar.nav-menu {float: left;margin:16px 0 0;width:100%;}
.navbar-nav {float: none;margin: 0;text-align: center;background: rgba(255,255,255,.1);}
.nav-menu.navbar ul.nav li{width:20%;}
.nav-menu.navbar ul.nav li a{border-radius:0;padding:10px 15px;margin:0;}
.profile-title > a {font-size: 13px;margin:20px 10px 0 0;width:122px;}
.profile-body-l,
.profile-body-m,
.profile-body-r {width: 100%;}
.create-profile-top a{width:140px;font-size:13px;}
.step-02-ul li {width: 33.33%;}
.step-03 > div {float: left;}
.step-03-l {width:48%;margin-right:40px;}
.step-03 .step-03-m,
.step-03 .step-03-r{width:46%;margin:0 0 15px;text-align:left;}
.step-05 .label-css{min-height:44px;}
.common-body{padding:15px;}
.services-pro-l{width:54%;}
.services-pro-m,
.services-pro-r{padding:0 0 20px 20px;width:46%;}
.funeral-l{width:56%;margin:0 0 25px;}
.funeral-r{width:42%;}
.listing_data ul li {width: 50%;}
}
@media(min-width:768px){
.navbar-header{display:none;}

}

@media(max-width:767px){
.logo img{max-width:200px;}
.navbar-default .navbar-brand{font-size:0;}
.navbar.nav-menu {position:absolute;right:20px;top:40px;margin:0;}
.navbar-toggle{margin:0;border:0;padding:0; border-radius:0;}
.navbar-default .navbar-brand{display:none;}
.navbar-toggle .icon-bar + .icon-bar {margin-top: 6px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #fff;border-radius: 0;width: 30px;}
.home-caption h2 {font-size:30px;}
.home-caption h2 span {font-size:30px;margin:15px 0;}
.logo {float: none;width: 100%;}
.search {float: right;margin: 16px 0;}
.home-caption a + a{margin-top:20px;}
.login-user {float: left;}
.memorialize {padding:40px 0 20px;}
.memorialize h2 {margin:0 0 5px;}
.memorialize .white-box h3 {margin:0 0 8px;}
.memorialize .white-box h3 a br,
.memorialize .white-box p br{display:none;}
.memorialize ul li {width:100%;float:none;padding:15px 0;}
.memorialize .white-box {padding:15px;min-height:inherit;}
.memorialize ul li:nth-child(2n+2) {float: none;}
.memorialize a.memorialize-btn {margin: 30px auto 0;}
.helpful-l ul li {margin: 0 !important;float: none;width: 100%;padding: 15px 0;}
.helpful-box {width:100%; padding:20px;}
.helpful-resources::after {background:url(../images/helpful-img.jpg) no-repeat 0 0 / cover;}
.what-member {padding: 40px 15px;}
.what-member h2 {margin: 0 0 15px;padding: 0;font-size:24px;}
.what-member {padding:40px 0;}
.footer {padding: 20px 0 0;}
.ftr-sepretor {padding:20px 0;width:100%;border:0;min-height:inherit;}
.ftr-sepretor::after{background:transparent;}
.profile-body-l,
.profile-body-m,
.profile-body-r {width: 100%;padding:10px 0;margin:0 0 10px;}
.create-profile {padding:20px 0;}
.profile-title {padding: 0 10px;}
.profile-title-img {display: block; border: 4px solid #fff; margin:0 20px 0 0; float: left; }
.profile-title-img img{max-width:100px;}
.profile-title h4 {font-size: 18px;color:#666;margin:15px 0 0;float:none;}
.profile-title h4 small{font-size:13px;color:#666;margin:10px 0 0;}
.profile-title > a {font-size: 12px;padding: 5px;margin:15px 10px 0 0;width: 100px;}
.profile-share {float: right;padding: 0;}
.login-register{float:left;}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {background-color:transparent;}
.navbar-nav {margin: 0;width: 240px;background:#975979;}
.nav-menu.navbar ul.nav li{float:none;}
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header{margin:0;}
.nav-menu.navbar ul.nav li a{margin:0;}
.nav-menu.navbar .navbar-collapse {padding:0;}
.process-step ul li a {width: 40px;height: 40px;padding:5px;line-height: 30px;font-size: 16px;}
.process-step ul li.active:before {border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid #975979;}
.create-profile-top a {position: relative;top: 0;left: 0;margin-bottom: 10px;right: 0;display: block;margin: 0 auto;}
.create-profile-top p {margin:0 0 20px;font-size:15px;}
.create-profile-box {padding:0;}
.step-form {padding:15px;margin:0;}
.step-01-l-wrap {margin: 0;}
.step-01-l,
.step-01-m,
.step-01-r {width: 100%;float: none;padding:0;margin:0 0 15px;}
.upload-btn{width:100%;}
.step-btm-btn button{margin:10px;}
.step-02-ul li{width:50%;}
.gallery-upload{width:100%;}
.step-title {margin: 0;padding:20px;}
.step-title br{display:none;}
.step-03 > div{display:block;width:100%;margin:0 0 15px;}
.create-profile-top h2 {margin: 0 0 15px;font-size: 24px;}
.step-06-l,
.step-06-r {width: 100%;float: none;}
.four-input span {font-size: 13px;}
.step-05-l,
.step-05-m, 
.step-05-r {width:100%; margin:0 0 15px;}
.step-finish .step-title {margin: 0;padding: 15px;}
.step-btm-btn {margin: 10px 0 0;}
.process-step {margin: -20px 0 0;}
.process-done::after {left:0;}
.process-step ul {padding: 0 30px 0 0;}
.process-step ul li.active::before {display:none;}
.process-step ul li.active::after {width: 100%;}

.common-body{padding:15px;}
.services-pro-l,
.services-pro-m,
.services-pro-r{width:100%;padding:0 0 25px;}
.services-pro-m{padding-bottom:10px;}
.services-pro-m .ad{width:48%;margin:0 1%;float:left;padding:7px;}
.common-page{padding-top:15px;    padding-bottom:25px;}
.common-head h2.h2title{margin-bottom:10px;line-height:normal;margin-right:10px; padding:6px 0 0;}
.common-head a.pspl{float:left;}
.srvs-form-div {width:48% !important;margin: 0 1% 15px;}
.services-form {margin: 0 0 5px;}
.srvs-dtl-l {width:100%;}
.srvs-dtl-r{width:100%;}
.funeral-l{width:100%;margin:0 0 25px;}
.funeral-r{width:100%;}
.funeral-srh .srvs-form-div:last-child {width:100% !important;margin-bottom:0;max-width:280px;}

.profile_detail_left {float: left;width: 100%;padding: 0 15px;}
.profile_detail_right {float: left;width: 100%;margin-top: 0;padding: 0 15px;text-align: center;}
}


@media(max-width:500px){
#login .modal-dialog {width:94%;}
.login-options a {float:none !important;display:block;text-align:center;margin:15px 0 0;}
.popup-or{margin:0;}
.step-02-ul li{width:100%;}
.srvs-personal-point li{width:100% !important;}
.funeral-srh .srvs-form-div{width:100% !important;}

}