body{margin:0;padding:0;border-top:4px solid #975979;}
input:focus, textarea:focus, select:focus {outline-offset:0;}
:focus {outline: -webkit-focus-ring-color auto 0;}

/***** header *****/
.header:after{content:'';clear:both;display:block;}
.header{display:block;width:100%;z-index:10;position:absolute;padding:20px 0 0;left:0;top:0;}
.logo{float:left;}
.logo a{display:block;}

.login-register{float:right;background:#e7e2e4;border-radius:4px;margin-left:10px;padding:0 10px;position:relative;margin:16px 0;}
.login-register a:first-child:after{content:'-';line-height:42px;position:absolute;right:-5px;color:#58595b;font-size:18px;top:0;font-weight:500;}
.login-register a{line-height:22px;padding:10px;color:#58595b;font-size:15px;text-transform:uppercase;display:inline-block;vertical-align:top;position:relative;text-decoration:none;}
.login-register a:hover{color:#975979;}

.search{float:right;margin:16px 10px 16px;}
.search > a{padding:10px;line-height:22px;display:block;position:relative;}
.search > a svg{width:20px;height:20px;fill:#fff;vertical-align:top;}
.search > a:after{content:'';background:rgba(255,255,255,.5);height:20px;width:1px;position:absolute;top:50%;left:-10px;margin:-10px 0 0;}
.search form{display:none;}

.navbar.nav-menu{float:right;background:transparent;border:0;min-height:initial;margin:16px 10px 16px;}
.nav-menu.navbar ul.nav li{display:block;float:left;}
.nav-menu.navbar ul.nav li a{color:#e7e2e4;font-size:16px;line-height:22px;text-transform:uppercase;padding:10px 15px;border-radius:4px;margin:0 5px;font-weight:500;}
.nav-menu.navbar ul.nav li.active a,
.nav-menu.navbar ul.nav li a:hover{background:#975979;}
.nav-menu.navbar .navbar-collapse{border:0;margin:0;padding:0;}
.nav-menu.navbar .container-fluid{padding:0;}

.carousel{border-bottom:4px solid #975979;display:block;width:100%;margin:0;position:relative;}
.home-caption{position:absolute;top:50%;left:0;width:100%;text-align:center;
-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);}
.home-caption h2{margin:0 0 60px;padding:0;font-family:'Oswald';font-size:36px;font-weight:300;color:#e7e2e4;}
.home-caption h2 span{display:block;font-size:58px;font-weight:900;margin:15px 0;}
.home-caption a{line-height:44px;border:2px solid #e7e2e4;font-size:16px;font-family:'Rubik';font-weight:500;width:220px;display:inline-block;vertical-align:top;border-radius:4px;margin:0 10px;transition:ease-in-out .5s;}
.home-caption a:nth-child(2){color:#38383a;background:#e7e2e4;}
.home-caption a:nth-child(2):hover{background:transparent;color:#e7e2e4;text-decoration:none;}
.home-caption a:nth-child(3){color:#e7e2e4;}
.home-caption a:nth-child(3):hover{background:#e7e2e4;color:#38383a;text-decoration:none;}
.carousel  .owl-controls{position:absolute;bottom:20px;left:0;text-align:center;width:100%;}
.carousel .owl-buttons{display:none;}
.carousel .owl-page{display:inline-block;vertical-align:top;}
.carousel .owl-page span{width:11px;height:11px;background:#fff;border-radius:80px;border:2px solid #fff;display:block;margin:0 5px;}
.carousel .owl-page.active span{background:#975979;}

.memorialize:after,
.memorialize ul:after{content:'';clear:both;display:block;}

.memorialize{display:block;width:100%;background:#f5f5f5;padding:55px 0;}
.memorialize h2{display:block;width:100%;text-align:center;color:#975979;font-size:30px;line-height:34px;font-weight:700;font-family:'Rubik';margin:0 0 25px;padding:0;}
.memorialize h2 span{display:block;font-size:18px;color:#57585a;font-weight:400;}
.memorialize ul{margin:0;padding:0;list-style:none;text-align:center;}
.memorialize ul li{width:25%;float:left;}
.memorialize .white-box{display:block;background:#fff;box-shadow:0 0 40px 0 rgba(0,0,0,.2);padding:25px 5px 25px;min-height:241px;}
.memorialize ul li:nth-child(1) span svg{width:50px;margin-top:-4px;}
.memorialize ul li:nth-child(2) span svg{width:40px;height:40px;}
.memorialize ul li:nth-child(3) span svg{width:32px;height:36px;}
.memorialize ul li:nth-child(4) span svg{width:38px;height:32px;}
.memorialize ul li:nth-child(4) p{letter-spacing:-.02em;}
.memorialize .white-box span{display:block;margin:0;height:60px;}
.memorialize .white-box span svg{vertical-align:top;fill:#975979;}
.memorialize .white-box h3{margin:0 0 20px;padding:0; line-height:100%;font-size:100%;}
.memorialize .white-box h3 a{font-size:16px;font-weight:500;color:#57585a;text-decoration:none;font-family:'Rubik';line-height:normal;}
.memorialize .white-box h3 a:hover{color:#975979;}
.memorialize .white-box p{font-family:'Roboto';font-weight:400;font-size:15px;display:block;line-height:22px;margin:0;padding:0;color:#909090;}
.memorialize  a.memorialize-btn{background:#57585a;width:100%;max-width:300px;margin:-20px auto 0;border-radius:4px;padding:15px;line-height:24px;color:#fff;font-size:16px;font-weight:500;font-family:'Rubik'; z-index:10;position:relative;display:block;text-align:center;z-index:10;position:relative;top:-10px;box-shadow: 0 0 20px 0 rgba(0,0,0,.2);}
.memorialize  a.memorialize-btn:hover{text-decoration:none;opacity:.9;}


.helpful-l:after,
.helpful-resources:after{content:'';clear:both;display:block;}
.helpful-resources{background:url(../images/helpful-img.jpg) no-repeat 0 0;display:block;width:100%;padding:80px 0 63px;}
.helpful-l{width:710px;float:right;}
.helpful-l h2{margin:0 0 30px;padding:0;display:block;font-size:38px;font-weight:700;color:#57585a;font-family:'Rubik';}
.helpful-l ul{margin:0;padding:0;list-style:none;}
.helpful-l ul li{margin-bottom:30px;float:left;}
.helpful-l ul li:nth-child(1),
.helpful-l ul li:nth-child(3){margin-right:30px;}
.helpful-box{width:340px;background:#fff;border:0;border-radius:4px;padding:25px 25px 20px;box-shadow:0 0 40px 0 rgba(0,0,0,.1);position:relative;overflow:hidden;}
.helpful-box h3{margin:0 0 15px;padding:0;display:block;line-height:normal;font-size:100%;}
.helpful-box h3 a{font-weight:500;font-size:18px;line-height:normal;color:#666;font-family:'Rubik';}
.helpful-box h3 a:hover{color:#975979;text-decoration:none;}
.helpful-box p{display:block;color:#909090;font-size:15px;line-height:24px;font-family:'Roboto';font-weight:400;margin:0;}

.helpful-l ul:after{content:'';clear:both;display:block;}
.helpful-l ul li span{position:absolute;bottom:0;right:15px;}
.helpful-l ul li span svg{width:80px;height:80px;vertical-align:top;fill:rgba(87,88,90,.06);}
.helpful-l ul li:nth-child(2) span svg{width:70px;height:70px;}
.helpful-l ul li:nth-child(1) span{bottom:-18px;}
.helpful-l ul li:nth-child(2) span{right:13px;bottom:-2px;}
.helpful-l ul li:nth-child(3) span{bottom:-19px;}
.helpful-l ul li:nth-child(4) span{bottom:-13px;}

.helpful-l ul li:nth-child(3) .helpful-box{background:#975979;}
.helpful-l ul li:nth-child(3) h3 a{color:#fff;}
.helpful-l ul li:nth-child(3) p{color:#fff;}
.helpful-l ul li:nth-child(3) svg{fill:rgba(255,255,255,.1);}

a.helpful-btn{background:#57585a;width:100%;max-width:220px;border-radius:4px;padding:15px;line-height:24px;color:#fff;font-size:15px;font-weight:500;font-family:'Rubik'; z-index:10;position:relative;display:block;text-align:center;top:-10px;box-shadow: 0 0 20px 0 rgba(0,0,0,.2);margin:10px 0 0;}
a.helpful-btn:hover{text-decoration:none;opacity:.9;}


/***** Testimonial *****/
.what-member:after,
.what-member ul:after{content:'';clear:both;display:block;}

.what-member{display:block;padding:70px;}
.what-member h2{margin:0 0 15px;padding:0;display:block;text-align:center;font-size:38px;color:#57585a;line-height:normal;font-family:'Rubik';font-weight:700;line-height:100%;}
.what-member .item{padding:22px;}
.what-member .member-box{background:#fff;border-radius:4px;box-shadow:0 0 40px 0 rgba(0,0,0,.1);padding:20px;min-width:350px;}
.what-member .member-box h3{margin:0 0 15px;min-height:70px;position:relative;padding:15px 0 0 90px;font-size:15px;font-weight:500;line-height:22px;font-family:'Rubik';}
.what-member .member-box h3 small{font-weight:300;font-size:13px;line-height:22px;display:block;}
.what-member .member-box h3 span{width:70px;height:70px;display:block;border-radius:100px;overflow:hidden;position:absolute;top:0;left:0;}
.what-member .member-box h3 span img{width:70px;height:70px;}
.what-member .member-box p{font-weight:400;font-size:15px;font-family:'Roboto';font-style:italic;line-height:24px;color:#999;display:block;padding:0 0 0 10px;margin:0;}
.what-member .owl-controls{position:absolute;left:0;text-align:center;width:100%;bottom:-40px;}
.what-member .owl-buttons{display:none;}
.what-member .owl-page{display:inline-block;vertical-align:top;}
.what-member .owl-page span{width:11px;height:11px;background:#c1c1c1;border-radius:80px;display:block;margin:0 5px;}
.what-member .owl-page.active span{background:#975979;}

.blog-wrap{background:url(../images/blog-bg.jpg) no-repeat center 0;width:100%;display:block;padding:50px 0 70px;}
.blog-wrap h2{width:100%;display:block;text-align:center;font-family:'Rubik';font-size:46px;color:#fff;line-height:normal;font-weight:700;margin:0 0 35px;}
.blog-wrap h2 small{font-size:15px;font-weight:300;color:#fff;display:block;}
.blog-wrap .item{padding:0;}
.blog-box{background:#fff;padding:10px;border-radius:4px;}
.blog-box span{display:block;margin:0 0 20px;}
.blog-box span a{display:block;}
.blog-box span a img{border-radius:4px;max-width:100%;}
.blog-box p{display:block;font-family:'Rubik';font-size:14px;color:#999;font-weight:400;margin:0 0 8px;padding:0;}
.blog-box h3{margin:0;padding:0;font-size:100%;line-height:100%;} 
.blog-box h3 a{display:block;font-size:16px;font-weight:400;line-height:normal;color:#666;text-decoration:none;font-family:'Rubik';line-height:24px;}
.blog-box h3 a:hover{color:#975979;}
.blog-content{padding:0 10px 6px;}
.blog-wrap  .owl-controls{position:absolute;bottom:-50px;left:0;text-align:center;width:100%;}
.blog-wrap .owl-buttons{display:none;}
.blog-wrap .owl-page{display:inline-block;vertical-align:top;}
.blog-wrap .owl-page span{width:11px;height:11px;background:rgba(255,255,255,.6);border-radius:80px;display:block;margin:0 5px;}
.blog-wrap .owl-page.active span{background:#fff;}
.blog-wrap .owl-carousel .owl-item {padding:0 15px 0 0;}

.footer{border-top:6px solid #975979;background:#57585a;padding:48px 0 0;}
.footer h3{color:#fff;margin:0 0 25px;padding:0;font-family:'Rubik';font-size:18px;font-weight:500;text-transform:uppercase;display:block;}
.ftr-sepretor{position:relative;padding:0 40px;min-height:147px;}
.ftr-sepretor:after{content:'';height:100px;width:1px;background:rgba(40,40,40,.25);position:absolute;top:50%;right:0; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.ftr-sepretor:last-child:after{display:none;}

.ftr-logo:before{content:'';height:100px;width:1px;background:rgba(40,40,40,.25);position:absolute;top:50%;left:0; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}

.footer:after{content:'';clear:both;display:block;}
.ftr-logo{width:26%;float:left;text-align:center;padding:36px 0 0;}
.ftr-logo img{max-width:100%;}
.quick-link{width:26%;float:left;}
.ftr-contact{width:26%;float:left;}
.ftr-follow{width:22%;float:left;}

.quick-link ul{list-style:none;margin:0;padding:0;}
.quick-link ul li{width:50%;float:left;margin:0 0 10px;padding:0;}
.quick-link ul li a{display:block;font-size:14px;color:#c5c5c5;line-height:100%;}

.ftr-contact p{display:block;margin:0 0 12px;padding:0;font-size:14px;font-weight:400;font-family:'Roboto';line-height:20px;color:#c5c5c5;}
.ftr-contact p strong{font-weight:500;}

.ftr-follow a{float:left;margin:0 15px 15px 0;}
.ftr-follow a svg{width:36px;height:36px;fill:rgba(196,196,196,.5);vertical-align:top;}
.ftr-btm{display:inline-block;text-align:center;font-size:12px;border-top:1px solid rgba(40,40,40,.25);padding:10px 0;width:100%;vertical-align:top;margin:28px 0 0;}
.ftr-btm p{font-size:12px;color:#bfbfbf;line-height:20px;display:block;margin:0;padding:0;}

#login .modal-dialog {max-width:486px;width:100%;margin:30px auto;}
#login .nav-tabs{background:#f2f2f2;border:0; margin:0 0 25px;}
#login .nav-tabs li {width:50%;float:left;}
#login .nav-tabs li a{font-family:'Rubik';font-size:18px;color:#57585a;text-transform:uppercase;line-height:20px;padding:15px; border-radius:0;border:0; margin:0;text-align:center;}
#login .nav-tabs li a:hover,
#login .nav-tabs li.active a{background:#975979;color:#fff;}
#login .nav-tabs li a:hover:after,
#login .nav-tabs li.active a:after{content:''; width: 0; height: 0; border-left: 20px solid transparent;border-right: 20px solid transparent;border-top: 20px solid #975979;    position: absolute;left:50%;margin:0 0 0 -20px;bottom:-14px;}

.login-signup{background:#fff;padding:15px;}
.popup-input:after{content:'';display:block;clear:both;}
.popup-input {margin:0 0 25px;}
.popup-input label{display:block;margin:0 0 5px;padding:0;font-size:16px;color:#999;font-weight:400;font-family:'Roboto';line-height:20px;}
.popup-input input{background:#fff;border:1px solid #e5e5e5;padding:15px;font-size:15px;color:#999;font-weight:400;font-family:'Roboto';line-height:20px;box-shadow: 4px 4px 4px 0 rgba(0,0,0,.1);width: 100%; opacity:1;}
.popup-input input::-webkit-input-placeholder {color:#999;}
.popup-input input::-moz-placeholder { color:#999;}
.popup-input input:-ms-input-placeholder { color:#999;}
.popup-input input:-moz-placeholder { color:#999;}

#login .tab-content{padding:0 15px;}
.pup-btn{width:100%;display:block;text-align:center;margin:0 0 15px;}
.pup-btn button{background:#57585a;border-radius:4px;padding:10px;line-height:20px;border:2px solid #57585a;font-size:16px;color:#fff;font-weight:500;font-family:'Rubik';width:210px;text-transform:uppercase;}
.popup-or{margin:0 0 12px;text-align:center;position:relative;}
.popup-or:after,
.popup-or:before{content:'';position:absolute;top:32%;left:10%;width:80%;height:1px;background:#efefef;}
.popup-or:before{width:100%;top:64%;left:0;}
.popup-or span{background:#fff;padding:5px 10px;line-height:20px;font-weight:500;font-size:16px;color:#999;display:inline-block;vertical-align:top;position:relative;z-index:10;}
.login-options{display:inline-block;width: 100%;vertical-align:top;margin:0 0 5px;}
.login-options a{float:left;}
.login-options a:last-child{float:right;}
.keep-me{display:inline-block;width: 100%;vertical-align:top;margin:0 0 15px;}
.keep-me a{float:right;font-weight:500;font-size:14px;color:#999;line-height:22px;font-family:'Roboto';}
.keep-me label.custom-checkbox{float:left;}

/* Customize the label (the container) */
.custom-checkbox {display: block; position: relative; padding-left:32px; cursor: pointer; font-size:14px; font-family:'Roboto';font-weight:500;color:#999;line-height:22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.custom-checkbox input {position: absolute;opacity: 0;}
.checkmark {position: absolute; top: 0; left: 0; height:22px; width:22px;background:#fff;border:1px solid #e5e5e5;box-shadow:4px 4px 4px 0 rgba(0,0,0,.1);}
.custom-checkbox input:checked ~ .checkmark {background-color:#fff;}
.checkmark:after {content: "";position: absolute;display: none;}
.custom-checkbox input:checked ~ .checkmark:after {display: block;}
.custom-checkbox .checkmark:after {left:8px; top:4px; width:5px; height:10px; border: solid #975979; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
.first-last{width:48%;float:left;}
.last-first{width:48%;float:right;}

/***** Inner pages *****/
.inr-pages .header{background:url(../images/carousel-img.jpg) no-repeat center 0;position:relative;border-bottom:4px solid #975979;}
.breadcrumb{display:inline-block;width:100%;vertical-align:top;border-top:1px solid #5d484d;padding:20px 0; background:transparent;text-align:center;margin:25px 0 0;}
.breadcrumb ul{list-style:none;margin:0;padding:0;}
.breadcrumb  ul li{display:inline-block;vertical-align:top;margin:0 5px;padding:0 5px;font-size:15px;line-height:26px;font-weight:400;font-family:'Roboto';color:#aeaeae;}
.breadcrumb  ul li a{font-size:15px;line-height:26px;font-weight:400;font-family:'Roboto';color:#aeaeae;text-decoration:underline;}
.breadcrumb  ul li a:after{}	
.breadcrumb  ul li a:hover{text-decoration:none;}

.create-profile{background:#efefef;border:0;width:100%;display:block;padding:40px 0 50px 0;}
.create-profile .container{position:relative;}
.create-profile-top{text-align:center;display:block;width:100%;padding:0 0 55px;}
.create-profile-top h2{margin:0 0 15px;padding:0;font-size:36px;font-family:'Rubik';line-height:100%;color:#57585a;font-weight:700;}
.create-profile-top p{margin:0;padding:0;font-size:17px;font-family:'Roboto';font-weight:400;line-height:100%;color:#57585a;}
.create-profile-top a{width:180px;background:#975979;border:2px solid #975979;color:#fff;font-family:'Rubik';font-size:14px;line-height:18px;padding:10px;border-radius:4px;position:absolute;top:-15px;right:15px;}
.create-profile-top a:hover{background:transparent;color:#975979;text-decoration:none;}
.process-step{display:inline-block;vertical-align:top;width:100%;margin:-105px 0 0;}
.process-step ul:before{content:'';display:block;width:100%;height:6px;background:#57585a;position:absolute;top:50%;left:0;display:block;
-webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);z-index:-1;}
.process-step ul:after{content:'';clear:both;display:block;}
.process-step ul{list-style:none;margin:0;padding:0 30px;z-index:10;position:relative;position: relative}
.process-step ul li{float:left;width:23.4%;position:relative;}
.process-step ul li:last-child{width:6%;}
.process-step ul li a{width:70px;height:70px;border-radius:80px;display:block;padding:15px;line-height:40px;text-align:center;font-weight:300;font-family:'Rubik';font-size:26px;background:#57585a;color:#ccc;}
.process-step ul li.process-done a,
.process-step ul li.active a,
.process-step ul li a:hover{background:#975979;text-decoration:none;color:#fff;}
.process-step ul li.active:after{content:'';height:6px;width:65%;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);z-index:-1;background:#975979;}
.process-step ul li.active:first-child:after{left:-30px;width:calc(65% + 30px);}
.process-step ul li.active:before{content:'';width: 0; height: 0; border-top:20px solid transparent;border-bottom: 20px solid transparent;border-left: 20px solid #975979;
position:absolute;top:50%;right:30%;-webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.process-step ul li:last-child:before{display:none !important;}
.process-done:after{content:'';height:6px;width:calc(100% + 30px);position:absolute;left:-30px;top:50%;-webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);z-index:-1;background:#975979;}
.save-draft{width:104px;line-height:24px;border-radius:4px;padding:5px 10px;color:#666;font-size:13px;font-family:'Rubik';font-weight:400;position:absolute;top:44px;right:30px;background:#e6e6e6;text-align:center;text-decoration:none;}
.save-draft:hover{background:#975979;color:#fff;text-decoration:none;}

.create-profile-box{background:#fff;padding:70px 0 0; box-shadow:0 0 40px 0 rgba(0,0,0,.1);}
.step-form{display:inline-block;vertical-align:top;width:100%;padding:0 30px;margin:0;}
.step-form form{margin:0;padding:0;}
.step-01-l-wrap{margin:0 -15px;}
.step-01-l{width:23.5%;float:left;padding:0 15px;}
.step-01-m{width:40%;float:left;padding:0 15px;}
.step-01-r{width:36.5%;float:left;padding:0 15px;}

.input-wrap{display:block;width:100%;margin:0 0 15px;}
.label-css{display:block;width:100%;font-family:'Roboto';font-weight:500;font-size:15px;color:#999;line-height:22px;margin:0 0 5px;}
.input-css{background:#fff;border:1px solid #e5e5e5;padding:15px;line-height:20px;box-shadow:3px 3px 3px 0 rgba(0,0,0,.1);color:#aeaeae;font-size:15px;font-weight:400;width:100%;opacity;}
.input-l{width:48.5%;float:left;}
.input-r{width:48.5%;float:right;}
.textarea-css{height:140px;}

.step-btm-btn{padding:20px 0;display:inline-block;text-align:center;width:100%;vertical-align:top;border-top:1px solid #efefef;margin:40px 0 0;}
.step-btm-btn button{border-radius:4px;width:150px;color:#efeeee;font-weight:500;font-size:16px;font-family:'Roboto';display:inline-block;vertical-align:top;line-height:42px;padding:0 10px;text-align:center;margin:0 10px;}
.step-btm-btn button.back{background:#57585a;border:2px solid #57585a;}
.step-btm-btn button.back:hover{background:transparent;color:#57585a;}
.step-btm-btn button.skip{background:#999;border:2px solid #999;}
.step-btm-btn button.skip:hover{background:transparent;color:#999;}
.step-btm-btn button.next{background:#975979;border:2px solid #975979;}
.step-btm-btn button.next:hover{background:transparent;color:#975979;}
.input-wrap:after{content:'';clear:both;display:block;}
.input-css::-webkit-input-placeholder {color:#aeaeae;}
.input-css::-moz-placeholder {color:#aeaeae;}
.input-css:-ms-input-placeholder {color:#aeaeae;}
.input-css:-moz-placeholder {color:#aeaeae;}


.upload-btn {padding: 0;position: relative;margin: 0;display: inline-block;background:#fff;border:1px solid #e5e5e5;box-shadow:3px 3px 3px 0 rgba(0,0,0,.1);border-radius:0;padding:20px;}
.upload-btn .up_btn {background:#efefef;box-shadow:none;padding:40px 0;float:none;display: block;color: #fff;text-align: center;font-size: 16px;font-family:'Roboto';font-size:16px;color:#aeaeae;line-height:23px;text-transform:uppercase;}
.upload-btn .up_text {color: #1a5876;display: inline-block;font-size: 13px;overflow: hidden;position: relative;text-overflow: ellipsis;top: 0;vertical-align: top;white-space: nowrap;width: 130px;left: 0;float: none;padding: 10px 5px;vertical-align: middle;font-family: open sans;}
.upload-btn input[type=file] {position: absolute;top: 0;bottom: 0;left: 0;right: 0;opacity: 0;cursor: pointer;}

.login-user{float:right;padding:16px 0;}
.login-user > a{padding:0 0 0 52px;position:relative;color:#e7e2e4;font-size:13px;text-transform:uppercase;line-height:42px;display:block;text-decoration:none;}
.user-name{width:42px;height:42px;border-radius:80px;border:1px solid rgba(255,255,255,.2);position:absolute;top:0;left:0;overflow:hidden;}
.user-name img{width:100%;min-height:42px;}
.login-user .dropdown-menu{background:rgba(0,0,0,.4);right:0;left:auto;top:65px;padding:0;margin:0;border-radius:0;min-width:150px;}
.login-user .dropdown-menu li{display:block;    text-align: right;}
.login-user .dropdown-menu li a{color:#ccc;padding:5px 20px;}
.login-user .dropdown-menu li a:hover{background:rgba(0,0,0,.8);}

.step-title{display:block;text-align:center;margin:-25px 0 35px;}
.step-title h2{margin:0 0 8px;padding:0;font-size:18px;line-height:22px;display:block;font-family:'Rubik';font-weight:700;}
.step-title h2 small{font-weight:400;font-size:16px;color:#999;}
.step-title p{margin:0;padding:0;font-size:15px;color:#999;line-height:24px;display:block;font-family:'Roboto';}


.step-02{display:block;text-align:center;}
.step-02-ul{margin:-15px -15px 0;padding:0;list-style:none;}
.step-02-ul li{width:20%;float:left;padding:0 15px;margin:15px 0;}
.upload-wrap{position:relative;margin:0; display:inline-block; background:#fff; border:1px solid #e5e5e5; box-shadow:3px 3px 3px 0 rgba(0,0,0,.1); border-radius:0; padding:12px;width:100%;height:192px;}
.upload-wrap span {background:#efefef;box-shadow:none;padding:40px 0;float:none;display:block;color:#fff;text-align: center;font-size: 16px; height:100%;
font-family: 'Roboto';font-size: 16px;color: #aeaeae;line-height: 23px;text-transform: uppercase;}
.upload-wrap a{width:22px;height:22px;background:#ff8274;text-align:center;line-height:22px;border-radius:100px;position:absolute;bottom:-11px;right:-11px;}
.upload-wrap a svg{fill:#fff;width:10px;height:10px;}
.upload-wrap a:hover{opacity:.7;}

.gallery-upload-wrap{width:100%;}
.gallery-upload{position: relative;margin: 0;display: inline-block;background: #fff;border: 1px solid #e5e5e5;box-shadow: 3px 3px 3px 0 rgba(0,0,0,.1);border-radius: 
0;padding:10px;height:192px;display:table;}
.gallery-upload input[type=file] {position: absolute; top: 0; bottom: 0; left: 0; right: 0; opacity: 0; cursor: pointer; }
.gallery_up_btn {background:#975979; box-shadow: none; padding: 40px 0; float: none; display: block; color: #fff; text-align: center; font-size: 16px; font-family: 'Rubik'; font-size:16px; color:#fff; line-height:24px; text-transform: uppercase;height:100%;display:table-cell;vertical-align:middle;}

.step-03{display:table;width:100%;}
.step-03 > div{display:table-cell;vertical-align:top;}
.step-03-l{width:38%;}
.step-03 .step-03-m{width:31%;vertical-align:middle;text-align:center;}
.step-03-m button{background:#999;border:2px solid #999;padding:10px;line-height:22px;color:#efeeee;font-family:'Rubik';font-size:16px;min-width:180px;border-radius:4px;}
.step-03-m button:hover{background:#fff;color:#999;}
.step-03-r{width:31%;}

.input-wrap-div{display:block;width:100%;vertical-align:top;background: #fff;position:relative;margin:0 0 20px;}
.input-css::-webkit-input-placeholder {color:#aeaeae;}
.input-css::-moz-placeholder {color:#aeaeae;}
.input-css:-ms-input-placeholder {color:#aeaeae;}
.input-css:-moz-placeholder {color:#aeaeae;}
.input-wrap-div a{position:absolute;top:50%;right:-11px; width:22px;height:22px;background:#ff8274;text-align:center;line-height:22px;border-radius:100px; -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%);}
.input-wrap-div a svg{fill:#fff;width:10px;height:10px;}
.input-wrap-div a:hover{opacity:.7;}

.step-03-r h6{margin:0 0 20px;padding:0;font-size:15px;color:#999;line-height:22px;display:block;}
.step-03-r h5{margin:0 0 5px;padding:0;font-size:15px;color:#333;line-height:normal;display:block;font-weight:500;font-family:'Roboto';}
.step-03-r p{margin:0;padding:0;font-size:15px;color:#999;line-height:32px;display:block;font-weight:400;font-family:'Roboto';position:relative;padding:0 0 0 16px;}
.step-03-r p:after{content:'\f0da';font-family:'FontAwesome';font-size:15px;line-height:34px;position:absolute;top:0;left:0;}

.step-05:after{content:'';display:block;clear:both;}
.step-05{margin:0 -15px;}
.step-05-l,
.step-05-m,
.step-05-r{width:33.33%;padding:0 15px;float:left;}

.input-three-l{width:30%;float:left;}
.input-three-m{width:30%;margin:0 5%;float:left;}
.input-three-r{width:30%;float:left;}

.step-06-wrap{border-top:6px solid #57585a;padding:60px 0 0;}
.step-06-l{width:56%;float:left;}
.step-06-l p{font-size:12px;color:#333;font-style:italic;line-height:14px;font-family:'Roboto';margin:5px 0;padding:0;}
.step-06-r{width:40%;float:right;}

.select-file{position: relative;margin:22px 0 0;display: inline-block;background: #fff;border: 1px solid #e5e5e5;box-shadow: 3px 3px 3px 0 rgba(0,0,0,.1);border-radius:0;padding:20px;height:218px;display:table;width: 100%;}
.select-file-upload{height:100%;vertical-align:middle;display:table;width: 100%;}
.select-file-upload input[type=file] {position: absolute; top:0; bottom: 0; left: 0; right: 0; opacity: 0; cursor: pointer; width:100%;}
.select-file_up_btn{background:#efefef; box-shadow: none; padding:0; float: none; display: block; color: #fff; text-align: center; font-size:15px; font-family: 'Roboto'; font-size:15px; color:#aeaeae;line-height:24px; height:100%;display:table-cell;vertical-align:middle;font-weight:400;}
.select-file_up_btn span{background:#fff;width:170px;padding:10px;line-height:30px;color:#666;font-size:16px;font-weight:400;display:block;margin:10px auto 0;text-transform:uppercase;}
.step-finish .step-title{margin:0;padding:70px 0;}

.create-profile-box.create-profile-body{background:#fff;padding:10px;}
.profile-head > span{display:block;}
.profile-head > span > img{width:100%;}
.carousel .item{text-align:center;}
.profile-title{display:block;padding:0 10px 0 30px;z-index:10;position:relative;}
.profile-title-img{display:block;border:6px solid #fff;margin:-115px 30px 0 0;float:left;}
.profile-title h4{padding:0;display:block;font-family:'Rubik';font-size:24px;font-weight:500;color:#fff;line-height:normal;float:left;margin:-90px 0 0;}
.profile-title  h4 small{display:block; font-family:'rubik';font-size:14px;font-weight:400;color:#fff;margin:10px 0 0;padding:0;}
.profile-title h4 small i{vertical-align:middle;margin:0 5px 0 0;font-size:20px;}
.profile-title > a{display:inline-block;vertical-align:middle;font-family:'Rubik';font-weight:500;font-size:14px;padding:10px;line-height:20px; border-radius:4px;color:#fff;margin:20px 30px 0 0;width:152px;text-align:center;}
.donate-btn{border:2px solid #8f63ca;background:#8f63ca;}
.donate-btn:hover{background:transparent;color:#8f63ca;text-decoration:none;}
.flowers-btn{border:2px solid #49baa0;background:#49baa0;}
.flowers-btn:hover{background:transparent;color:#49baa0;text-decoration:none;}

.profile-share{float:right;padding:20px 0;}
.profile-share h6{display:inline-block;vertical-align:top;width:auto;margin:0;font-size:16px;color:#a0a5b7;line-height:44px;letter-spacing:.05em;}
.profile-share a{font-size:20px;color:#a0a5b7;line-height:44px;margin:0 0 0 10px;}
.profile-share a i{vertical-align:middle;}
.profile-head{display:inline-block;vertical-align:top;margin:0;}

.profile-body{display:inline-block;width:100%;vertical-align:top;}
.profile-body-l{width:28%;float:left;padding:10px;}
.profile-body-m{width:40%;margin:0 15px;float:left;padding:10px;}
.profile-body-r{width:28%;float:right;padding:10px;}

.profile-box{width:100%;display:inline-block;vertical-align:top;box-shadow:0 0 30px 0 rgba(0,0,0,.1);margin:0 0 30px;padding:10px;}
.profile-box:last-child{margin-bottom:0;}
.profile-box h2{margin:0;padding:10px 20px;line-height:34px;background:#57585a;color:#fff;font-size:18px;font-weight:500;font-family:'Rubik';}
.profile-box-body{width:100%;display:inline-block;vertical-align:top;}
.according-tab {margin:0;}
.according-tab .panel.panel-default{border:0;background:#fff;border-radius:0;margin:0;position:relative; box-shadow:none;}
.according-tab .panel-default > .panel-heading{padding:15px 35px 15px 12px;line-height:18px;border:0;background:#fff;border-radius:0;font-size:16px;font-weight:400;color:#999;font-family:'Rubik'; border:0;border-bottom:1px solid #efefef;}
.according-tab .panel-title{margin:0;padding:0;font-size:16px;font-family:'Rubik';color:#999;line-height:20px;display:block;text-overflow:ellipsis;font-weight:400;overflow:hidden;white-space:nowrap;}
.according-tab .panel-heading:hover:after,
.according-tab .panel-heading:hover .panel-title a:hover{color:#975979;text-decoration:none;}
.according-tab .panel-heading:after{content:'\f067';font-family:'FontAwesome'; width:23px;height:23px; display:block;position:absolute;top:16px;right:3px;}
 
.according-tab .panel-body {padding:15px;border:0 !important;background:#efefef;}
.according-tab .panel-body h5{display:block;width:100%;font-family:'Roboto';font-weight:500;font-size:14px;color:#666;padding:0 0 4px;margin:0;}
.according-tab .panel-group{margin:0;}
.according-tab .panel.panel-default:last-child .panel-heading{border-bottom:0;padding-bottom:8px;}
.according-tab .panel-body p{padding:0 0 15px;margin:0;color:#999;}
.according-tab .panel-body p:last-child{padding-bottom:0;}

.fundraiser{background:#975979;border:0;}
.fundraiser h2{display:block;width:100%;background:#77405b;margin:0;padding:10px 20px;line-height:34px;color:#fff;font-size:18px;font-weight:500;font-family:'Rubik';}
.fundraiser span{display:block;width:100%;font-size:14px;color:#fff;line-height:22px;font-family:'Rubik';padding:0 0 5px;margin:0;text-align:center;}
.fundraiser span big{ display:inline-block;font-size:24px;vertical-align:middle;}
.fundraiser h6{display:block;margin:0;padding:0;font-family:'Rubik';font-weight:900;font-size:24px;color:#fff;line-height:36px;text-align:center;}
.fundraiser h6 small{font-size:20px;color:#fff;}
.fundraiser a{display:block;width:100%;background:#fff;border:2px solid #fff;border-radius:3px;color:#975979;font-weight:700;font-size:18px;font-family:'Rubik';text-transform:uppercase;letter-spacing:.06em;padding:15px;line-height:16px;text-align:center;margin:10px 0 0;}
.fundraiser a:hover{background:transparent;text-decoration:none;color:#fff;}
.fundraiser .profile-box-body{padding:10px 0 0;}

.life-gallery{display:block;}
.life-gallery ul{margin:8px 0 0;padding:0;list-style:none;}
.life-gallery ul li{float:left;width:33.33%;}
.life-gallery ul li a{display:block;margin:8px;background:#eee;height:74px;}
.life-gallrey ul li a img{width:100%;min-height:74px;}
.life-gallery ul li a:hover{opacity:.5;}

.fun-facts{display:block;}
.fun-facts .profile-box-body{padding:12px;}
.fun-facts p{margin:0 0 15px;padding:0;display:block;font-size:15px;font-family:'Roboto';color:#999;line-height:24px;}
.fun-facts p:last-child{margin-bottom:0;}

.affiliations ul{list-style:none;margin:0;padding:0;}
.affiliations ul li{display:block;width:100%;display:block;}
.affiliations ul li a{display:block;border-bottom:1px solid #efefef;padding:10px;line-height:28px;font-family:'Rubik';font-size:16px;font-weight:400;color:#999;position:relative;}
.affiliations ul li:last-child a{border:0;}
.affiliations ul li a:after{content:'\f0da';font-family:'FontAwesome';font-size:16px;color:#999;position:absolute;top:50%;right:10px;
-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);}
.affiliations ul li a:hover:after,
.affiliations ul li a:hover{text-decoration:none;color:#975779;}

.life-bio .profile-box-body{padding:14px 12px;}
.life-bio p{margin:0 0 15px;padding:0;display:block;font-size:15px;font-family:'Roboto';color:#999;line-height:24px;}
.life-bio p:last-child{margin-bottom:0;}

.post-comment{padding:10px;background:#efefef;margin:0 0 25px;}
.post-comment textarea{height:170px;background:#fff;border:0;font-size:14px;color:#999;line-height:24px;padding:15px;width:100%;margin:0 0 10px;}
.comment-btm{display:inline-block;vertical-align:top;width:100%;}
.comment-btm a{float:left;margin:10px 8px 0;}
.comment-btm a:first-child svg{width:23px;}
.comment-btm a svg{height:20px;fill:#999;vertical-align:middle;}
.comment-btm button{float:right;padding:10px;width:124px;line-height:18px;color:#fff;font-size:18px;font-weight:500;font-family:'Rubik';background:#57585a;border:2px solid #57585a;border-radius:4px;}
.comment-btm button:hover{background:transparent;color:#57585a;}

.comments-div{display:block;width:100%;padding:0 6px;}
.comments-div > ul{margin:0;padding:0;list-style:none;}
.comments-div > ul > li{width:100%;padding:0 0 17px;margin:0 0 20px;border-bottom:1px solid #efefef;}
.comments-div > ul > li:last-child{padding-bottom:0;border:0;margin-bottom:0;}
.comments-div-wrap{padding:0 0 0 100px;min-height:100px;position:relative;}
.comments-div-wrap span{width:80px;height:80px;background: #efefef;display: block;position:absolute;top:0;left:0;}
.comments-div-wrap span img{width:100%;min-height:80px;}
.comments-div-wrap h3{margin:0 0 15px;padding:0;font-size:18px;font-weight:400;color:#333;line-height:normal;font-family:'Rubik';}
.comments-div-wrap h3 small{display:block;font-size:13px;color:#999;}
.comments-div-wrap p{padding:0 0 15px;}
.comments-div-wrap p:last-child{padding:0;margin:0;}

ul.post-images{display:inline-block;width:100%;vertical-align:top;padding:0;margin:0;}
ul.post-images li{display:block;width:48%;float:left;margin:8px 0;}
ul.post-images li:nth-child(2n+2){float:right;}
ul.post-images li a{width:100%;background:#efefef;height:120px;display:block;}
ul.post-images li a img{width:100%;min-height:120px;}

ul.post-video{display:inline-block;width:100%;vertical-align:top;padding:0;margin:0;}
ul.post-video li{display:block;width:100%;margin:8px 0;}
ul.post-video li a{width:100%;background:#efefef;height:150px;display:block;}
ul.post-video li a img{width:100%;min-height:120px;}

.profile-boxbody{display:block;width:100%;}
.lifetime-line .profile-box-body span{width:70px;height:70px;border:2px solid #fff;box-shadow:0 0 15px 0 rgba(0,0,0,.2);margin:20px auto 0;display:block;border-radius:80px;overflow:hidden;}
.lifetime-line .profile-box-body span img{width:100%;min-height:70px;}
.lifetime-line ul{list-style:none;margin:0;padding:20px 5px 0;position:relative;}
.lifetime-line ul:after{content:'';background:rgba(209,209,209,.5);height:100%;width:1px;position:absolute;top:0;left:50%;}
.lifetime-line ul li{width:100%;padding:0 0 15px;display:inline-block;vertical-align:top;position:relative;}
.lifetime-box{width:44%;float:right;position:relative;}
.lifetime-line ul li:nth-child(2n+2) .lifetime-box{float:left;text-align:right;}
.lifetime-box h3{margin:0 0 10px;padding:0;font-size:18px;color:#999;line-height:20px;display:block;font-family:'Rubik';font-weight:500;}
.lifetime-box h3 a{font-size:18px;color:#999;line-height:20px;display:block;font-family:'Rubik';font-weight:500;}
.lifetime-line p{margin:0 0 10px;padding:0;font-family:'Roboto';font-size:13px;color:#999;line-height:20px;display:block;}

.lifetime-line ul li:after{content:'';width:15px;height:15px;background:#fff;border:3px solid #dadada;border-radius:90px;position:absolute;top:0;left:50%;
-webkit-transform:translateX(-50%); -moz-transform:translateX(-50%); transform:translateX(-50%);z-index:1;}
.lifetime-line ul li:hover:after{border:3px solid #975979;}
.lifetime-line ul li:hover h3 a{color:#975979;;}

.btn-btm-01{background:#efefef;width:130px;margin:0 auto;border:2px solid #efefef;color:#666;font-size:14px;line-height:38px;border-radius:4px;font-family:'Roboto';font-weight:400;display:block;text-align:center;}
.btn-btm-01:hover{background:transparent;text-decoration:none;}
.ad a{display:block;width:100%;}
.ad a img{width:100%;}

.four-input input{margin:0 2% 0 0;width:20%;float:left;}
.four-input span{font-size:16px;font-weight:500;color:#999;line-height:52px;width:6%;text-align:left;float:left;}
.four-input p{padding-top:4px;display:inline-block;vertical-align:top;}
.common-page:after,
.common-body:after,
.common-head:after{content:'';display:block;clear:both;}

.common-page{display:block;width:100%;padding:40px 0 50px;}
.common-head{display:inline-block;vertical-align:top;width:100%;padding:0 0 28px;}
.common-head h2.h2title{float:left;font-size:26px;font-weight:500;font-family:'Rubik';color:#975979;line-height:44px;margin:0;padding:0;}
.common-head a.pspl{background:#57585a;padding:10px;line-height:24px;color:#efefef;font-size:14px;font-weight:400;font-family:'Rubik';float:right;}
.common-head a.pspl:hover{background:#975979;color:#fff;text-decoration:none;}

.common-body{background:#fff;box-shadow:0 0 60px 0 rgba(0,0,0,.15);padding:25px;position:relative;}
.common-body:before{content:'';position:absolute;top:-18px;left:15px; width:0; height:0; border-left:18px solid transparent; border-right:18px solid transparent;border-bottom:18px solid #fff;}
.services-pro-l{float:left;width:38.6%;}
.services-pro-m{float:left;padding:0 20px;width:33%}
.services-pro-r{float:right;width:28.4%}

.srvs-list-ul{margin:0;padding:20px 15px 0;list-style:none;display:block;}
.srvs-list-ul li{display:block;width:100%;position:relative;padding:8px 0 25px 105px;margin:0 0 25px;border-bottom:1px solid #efefef;min-height:90px;}
.srvs-list-ul li:last-child{border-bottom:0;margin:0;padding-bottom:15px;}
.srvs-list-ul span{width:88px;height:88px;background:#efefef;position:absolute;top:0;left:0;}
.srvs-list-ul h3{margin:0 0 8px;padding:0;font-size:100%;font-weight:400;font-family:'Rubik';line-height:100%;}
.srvs-list-ul h3 a{font-size:18px;color:#666;list-style:none;font-family:'Rubik';font-weight:400;}
.srvs-list-ul h3 a:hover{color:#975979;text-decoration:none;}
.srvs-list-ul p{font-family:'Roboto';font-size:14px;color:#999;line-height:20px;display:block;margin:0;padding:0;}
.bootstrap-select>.dropdown-toggle{ box-shadow:3px 3px 3px 0 rgba(0,0,0,.1) !important;border:1px solid #e5e5e5 !important;border-radius:0;line-height: 20px;padding: 15px;background:#fff !important;color:#aeaeae;font-size:15px;font-weight:400;}
.bootstrap-select>.dropdown-toggle:focus{outline:none !important;outline-offset:none !important;}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){width:100% !important;}
.services-form:after{content:'';display:block;clear:both;}
.services-form{margin:0 0 25px;}
.srvs-form-div{float:left;width:26%;margin:0 2% 0 0;}
.srvs-form-div:last-child{width:16%;margin-right:0;}
.srvs-form-div button{background:#975979;border:2px solid #975979;color:#fff;font-size:16px;font-weight:700;font-family:'Rubik';line-height:18px;padding:15px;width:100%;text-transform:uppercase;}
.srvs-form-div button:hover{background:transparent;color:#975979;}

.srvs-dtl-l{width:40%;float:left;}
.srvs-dtl-r{width:58%;float:right;}
.srvs-dtl-r h3{margin:0 0 15px;padding:0;font-family:'Rubik';font-size:18px;color:#975979;line-height:normal;font-weight:500;}
.srvs-dtl-r h3 small{display:block;font-size:15px;color:#666;line-height:normal;}